/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Used by Abbigail Merrill for FrontEndMentor.io Project
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body, main {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.cardDiv {
  height: 35%;
  width: 100%;
  background-image: url("../images/bg-main-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 11;
}

.formDiv {
  height: 65%;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

@media screen and (min-width: 475px) {
  main {
    flex-direction: row;
  }
  .cardDiv {
    height: 100%;
    width: 35%;
    background-image: url("../images/bg-main-desktop.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .formDiv {
    height: 100%;
    width: 65%;
  }
  .formBox > * {
    margin-left: 100px !important;
  }
  input:not(.smallInput) {
    width: 60% !important;
  }
  .formBox div .dateBox input:not(.smallInput) {
    width: 25% !important;
  }
  .formDiv div {
    width: 100%;
  }
}
@media screen and (min-width: 770px) {
  .formBox > * {
    margin-left: 260px !important;
  }
  input:not(.smallInput) {
    width: 45% !important;
  }
  .formBox div .dateBox input:not(.smallInput) {
    width: 20% !important;
  }
  button {
    width: 45% !important;
    margin-left: 200px;
  }
}
@media screen and (min-width: 1100px) {
  .formBox div .dateBox input:not(.smallInput) {
    width: 28% !important;
  }
  button {
    margin-left: 100px !important;
  }
}
.formDiv .continueContent {
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.card {
  height: 150px;
  width: 250px;
  overflow: visible;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  order: 1;
}

.back {
  background-image: url("../images/bg-card-back.png");
  margin: 0 auto;
  order: 2;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  background-image: url("../images/bg-card-front.png");
  margin: 0 auto;
  margin-top: -50px;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (min-width: 770px) {
  .back {
    margin-left: 50%;
  }
  .front {
    margin-left: 75%;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 475px) {
  .card {
    width: 300px;
    height: 200px;
  }
  .back {
    order: 2;
  }
  .front {
    order: 1;
  }
}
.backContent {
  margin-left: 65%;
}

.logoContainer {
  width: 100%;
  height: 25%;
}
.logoContainer img {
  height: 100%;
  margin-top: 8px;
  margin-left: 10px;
}

.cardNumber {
  letter-spacing: 2px;
  margin-top: 10%;
}

.fontAdjust {
  color: white;
  font-family: "Space Grotesk";
}

.holderInfo {
  width: 100%;
  height: 15%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name p, .date p {
  font-size: 12px;
}

.name {
  margin-left: 10px;
  max-width: 180px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.date {
  margin-right: 10px;
  height: auto;
  display: flex;
}

.formBox {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.formBox > * {
  margin-left: 50px;
}

label {
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  font-size: 16px;
  font-family: "Space Grotesk";
  margin-bottom: -8px;
}

input {
  height: 30px;
  width: 70%;
  border: solid hsl(0deg, 0%, 65%);
  border-radius: 8px;
}
input :active {
  border-color: hsl(278deg, 68%, 11%);
}

input::placeholder {
  font-family: "Space Grotesk";
  color: hsl(0deg, 0%, 65%);
  padding-left: 10px;
}

input::placeholder:active {
  color: hsl(278deg, 68%, 11%);
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formBox div .labelBox {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.formBox div .labelBox label[for=cvv] {
  margin-left: 15px;
}

.formBox div .dateBox {
  height: auto;
  display: flex;
  margin-top: 10px;
}
.formBox div .dateBox .smallInput {
  margin: 0 4px 0 4px;
  width: 65px;
}
.formBox div .dateBox input:not(.smallInput) {
  margin-left: 15px;
}

button {
  height: 50px;
  width: 75%;
  background-color: hsl(278deg, 68%, 11%);
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 300;
  cursor: pointer;
}

button:active {
  background-color: hsl(0deg, 0%, 0%);
  color: grey;
}

.formDiv h3 {
  color: hsl(0deg, 0%, 0%);
  font-family: "Space Grotesk";
  font-size: 28px;
  text-transform: uppercase;
}
.formDiv p {
  color: hsl(0deg, 0%, 65%);
  font-family: "Space Grotesk";
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
