@media screen and (min-width:745px){
    .top, .bottom{
        display: none;
    }

    .left, .right{
        display: flex !important;
    }

    .section{
        height: 100%;
    }

    .left{
        width: 40%;
    }

    .right{
        width: 60%;
    }

    main{
        flex-direction: row;
    }
}