.formBox{
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items : flex-start;
    justify-content: center;
    flex-direction: column;
}

.formBox > *{
   margin-left: 50px;
}

label{
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-size:16px;
    font-family: "Space Grotesk";
    margin-bottom: -8px;
}

input{
    height: 30px;
    width: 70%;
    border: solid hsl(0, 0%, 65%);
    border-radius: 8px;

    :active{
        border-color: hsl(278, 68%, 11%);;
    }
}

input::placeholder{
    font-family: "Space Grotesk";
    color: hsl(0, 0%, 65%);
    padding-left: 10px;
}

input::placeholder:active{
    color: hsl(278, 68%, 11%);
}

// These styles hide the arrows on number inputs
input[type= number]{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formBox div .labelBox{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    label[for="cvv"]{
        margin-left: 15px;
    }
}

.formBox div .dateBox{
    height: auto;
    display: flex;
    margin-top: 10px;

    .smallInput{
        margin: 0 4px 0 4px;
        width: 65px;
    }

    input:not(.smallInput){
        margin-left: 15px;
    }
}

button{
    height: 50px;
    width: 75%;
    background-color:hsl(278, 68%, 11%);
    color:white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 300;
    cursor: pointer;
}

button:active{
    background-color:hsl(0, 0%, 0%);
    color: grey;
}

// Completion stylings

.formDiv{
    h3 {color:hsl(0, 0%, 0%);
    font-family: "Space Grotesk";
    font-size: 28px;
    text-transform: uppercase;
    }

    p{
        color:hsl(0, 0%, 65%);
        font-family: "Space Grotesk";
        font-size: 20px;
    }
}