.formBox{
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items : flex-start;
    justify-content: center;
    flex-direction: column;
}

.formBox > *{
   margin-left: 50px;
}

label{
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-size:16px;
    font-family: "Space Grotesk";
    margin-bottom: -8px;
}

input{
    height: 30px;
    width: 70%;
    border: solid hsl(0, 0%, 65%);
    border-radius: 8px;
}

input::placeholder{
    font-family: "Space Grotesk";
    color: hsl(0, 0%, 65%);
    padding-left: 10px;
}

// These styles are supposed to hide the arrows on number inputs
input[type= number]{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}