.section{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.top{
    height: 30%;
    background-image: url("../images/bg-main-mobile.png");
}

.bottom{
    height: 70%;
    background-color:hsl(0, 0%, 100%);
}

.left{
    background-image: url("../images/bg-main-desktop.png");
}

.bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}