@media screen and (max-width: 870px){

    main{
        flex-direction: column;
    }

    .sectionOne{
        height: 30%;
        width: 100%;
        display: block;
    }

    .sectionOne{
        z-index: 8;
    }

    .firstCard, .secondCard{
        height: 140px;
        width: 200px;
        margin-left: 0;
    }

    .sectionTwo{
        height: 70%;
        width: 100%;
        z-index: 6;
    }

    form{
        margin-left: 0;
    }
}

@media screen and (max-width: 425px){
    .firstCard{
        margin: 100px 0 0 50px!important;
    }

    .secondCard{
        margin: -200px 0 0 100px!important;;
    }
}