@media screen and (max-width: 870px){

    .tabletCardFront, .tabletCardBack{
        display: block;
        z-index: 9;
    }

    main{
        flex-direction: column;
    }

    .sectionOne{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .sectionOne{
        z-index: 8;
    }

    .firstCard, .secondCard{
        display: none;
    }

    .sectionTwo{
        height: 70%;
        width: 100%;
        z-index: 6;
    }

    form{
        margin-left: 0;
    }

    .tabletCard{
        width: 275px;
        height: 180px;
        border-radius:15px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .Front{
        background-image: url("../images/bg-card-front.png");
    }

    .Back{
        background-image: url("../images/bg-card-back.png");
    }
}

@media screen and (max-width: 425px){

    // .Front{
    //     margin: 100px 0 0 50px!important;
    // }

    // .Back{
    //     margin: -200px 0 0 100px!important;
    // }
}